@import "variables";

.footer {
  background-color: $chocolate;
  padding: 100px 0 40px 0;

  a, p, li, span {
    font-size: 20px;
  }

  .container {
    .middle-section {
      display: flex;
      padding: 64px 0;
      margin-bottom: 32px;

      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      .section {
        width: 33.33%;
        color: $white;

        ul {
          li {
            &::before {
              content: none;

            }
            a:link {
              color: $white;
            }
          }
        }
      }

      .mid {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          transition: .3s;
          height: 148px;
          margin-bottom: 24px;

          &:hover {
            transform: scale(1.1);
          }
        }

        p {
          font-size: 14px;
          text-align: center;
        }
      }

      .right {

        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          li {
            a {
              text-align: end;
            }
          }
        }
      }

      @media (max-width: 700px) {
        flex-direction: column;

        .section {
          width: 100%;
          margin-bottom: 32px;

          &:last-child {
            margin-bottom: 0;
          }

          ul {
            display: flex;
            align-items: center;
            flex-direction: column;

            li {
              a {
                text-align: center;
              }
            }
          }

        }

      }
    }

    .bottom-section {
      display: flex;
      justify-content: space-between;

      p, a {
        color: $white;
        font-size: 14px;
      }

      a {
        text-decoration: underline;
      }

      @media (max-width: 425px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p:first-child {
          margin-bottom: .5em;
        }
      }
    }
  }
}