.footer {
  background-color: #110C00;
  padding: 100px 0 40px 0;
}
.footer a, .footer p, .footer li, .footer span {
  font-size: 20px;
}
.footer .container .middle-section {
  display: flex;
  padding: 64px 0;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .container .middle-section .section {
  width: 33.33%;
  color: #FFFFFF;
}
.footer .container .middle-section .section ul li::before {
  content: none;
}
.footer .container .middle-section .section ul li a:link {
  color: #FFFFFF;
}
.footer .container .middle-section .mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container .middle-section .mid img {
  transition: 0.3s;
  height: 148px;
  margin-bottom: 24px;
}
.footer .container .middle-section .mid img:hover {
  transform: scale(1.1);
}
.footer .container .middle-section .mid p {
  font-size: 14px;
  text-align: center;
}
.footer .container .middle-section .right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .container .middle-section .right ul li a {
  text-align: end;
}
@media (max-width: 700px) {
  .footer .container .middle-section {
    flex-direction: column;
  }
  .footer .container .middle-section .section {
    width: 100%;
    margin-bottom: 32px;
  }
  .footer .container .middle-section .section:last-child {
    margin-bottom: 0;
  }
  .footer .container .middle-section .section ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer .container .middle-section .section ul li a {
    text-align: center;
  }
}
.footer .container .bottom-section {
  display: flex;
  justify-content: space-between;
}
.footer .container .bottom-section p, .footer .container .bottom-section a {
  color: #FFFFFF;
  font-size: 14px;
}
.footer .container .bottom-section a {
  text-decoration: underline;
}
@media (max-width: 425px) {
  .footer .container .bottom-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .container .bottom-section p:first-child {
    margin-bottom: 0.5em;
  }
}

/*# sourceMappingURL=footer.css.map */
