@import "variables";
@import "templates-mixins";

* {
  font-family: $font-futura;
  font-style: normal;
  line-height: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

h1, .h1 {
  font-weight: 450;
  font-size: 60px;
  margin: 0 0 16px 0;

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

h2, h3, .h2, .h3 {
  font-weight: 450;
  font-size: 50px;
  line-height: 100%;
  margin: 0 0 20px 0;

  @media (max-width: 768px) {
    font-size: 35px;
  }
}

h4, .h4 {
  line-height: 120%;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 40px 0;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

p, li, span, a {
  font-size: 14px;
  line-height: 130%;
  margin: 0;

  @media (max-width: 768px) {

  }
}

ul {
  padding: 0;
  margin: 0;
  font-weight: 450;
  font-size: 25px;
  line-height: 120%;
}

li {
  list-style: none;
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;

  &:first-child {
    margin-top: 16px;
  }

  &::before {
    content: '';
    background-image: url("../img/list-decorator-yellow.svg");
    width: 1em;
    height: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5em;
  }
}

a {
  text-decoration: none;
  transition: .3s;

  &:active {
    color: $orange;
  }

  &:visited, &:link {
    color: $white;
  }

  &:hover {
    color: $orange;
  }
}

.btn {
  background: $orange;
  color: $white;
  padding: 1em;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: .3s;
  text-align: center;

  &:hover {
    background-color: $orange-hover;
    color: $white;
  }
  &:active {
    color: $white;
  }
}

.slider-btn {
  background-image: url("../img/arrow-btn.svg");
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;

  cursor: pointer;
  top: calc(100% + 56px);
  left: 50%;
}

.btn-l {
  transform: rotate(-180deg);
  left: calc(50% - 120px);
}

.btn-r {
  left: calc(50% + 120px);
}

.btn-border {
  background: transparent;
  border: 1px solid $white;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-item {
  font-weight: 450;
  font-size: 25px;
  line-height: 120%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    margin: 0 40px
  }
}

.product-card {
  position: relative;
  overflow: hidden;

  &:first-child {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  &:hover {
    &::before {
      transform: scale(1) rotate(90deg);
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }

    a {
      background-color: $orange;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100% - 50px);

    border-radius: 5px;
    background-image: url("../img/border-square.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;

    transition: .7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform: scale(2);
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;

    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;

    transition: .3s;
  }

  .about {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background-color: rgba(17, 12, 0, 0.8);
    color: $white;
    text-align: center;
    display: block;
    z-index: 1;
    transition: .3s;

    span {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: calc(100% + 30px);
      right: -10px;
      transform: rotate(90deg);
      font-size: 14px;

      &::before {
        margin-right: 4px;
        content: '';
        width: 40px;
        height: 1px;
        background-color: $white;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider-gallery-1 {
  padding: 160px 0;
  position: relative;

  .slider-wrapper {
    .slick-list {
      overflow: inherit;

      .slick-slide:not(.slick-active) {
        //opacity: 0.5;
      }
    }

    .wrapper {
      margin-bottom: 56px;

      .item {
        height: 492px;
        margin: 0 16px;

        @media (max-width: 1024px) {
          height: 400px;
        }
        @media (max-width: 600px) {
          height: 334px;
        }
        @media (max-width: 425px) {
          width: 280px;
        }

        a {
          span {
            display: none;
          }
        }
      }
    }
  }
}

.slick-slide {
  transition: .5s;
}

.title-wrapper {
  text-align: center;
  max-width: 768px;
}

.page {
  .light-section {
    padding: 160px 0;
    background-color: $white;
  }

  .dark-section {
    padding: 80px 0 100px 0;
    background-color: $chocolate;
  }

  @media (max-width: 768px) {
    .light-section {
      padding: 80px 0;
    }
    .dark-section {
      padding: 40px 0 64px 0;
    }
  }
}

.first-screen {
  max-height: 700px;
  margin-top: 100px;
  background-color: $chocolate;
  height: 100vh;
}

@include breadcrumbs;
@include tabs;
@include instagram;
@include partners;
@include contact-form;
@include random-navigation;
@include project-desc;
@include modals;