* {
  font-family: Futura PT;
  font-style: normal;
  line-height: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

h1, .h1 {
  font-weight: 450;
  font-size: 60px;
  margin: 0 0 16px 0;
}
@media (max-width: 768px) {
  h1, .h1 {
    font-size: 40px;
  }
}

h2, h3, .h2, .h3 {
  font-weight: 450;
  font-size: 50px;
  line-height: 100%;
  margin: 0 0 20px 0;
}
@media (max-width: 768px) {
  h2, h3, .h2, .h3 {
    font-size: 35px;
  }
}

h4, .h4 {
  line-height: 120%;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  h4, .h4 {
    font-size: 18px;
  }
}

p, li, span, a {
  font-size: 14px;
  line-height: 130%;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  font-weight: 450;
  font-size: 25px;
  line-height: 120%;
}

li {
  list-style: none;
  margin: 0 0 8px 0;
  display: flex;
  align-items: center;
}
li:first-child {
  margin-top: 16px;
}
li::before {
  content: "";
  background-image: url("../img/list-decorator-yellow.svg");
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5em;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:active {
  color: #FF9A19;
}
a:visited, a:link {
  color: #FFFFFF;
}
a:hover {
  color: #FF9A19;
}

.btn {
  background: #FF9A19;
  color: #FFFFFF;
  padding: 1em;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.btn:hover {
  background-color: #FF5019;
  color: #FFFFFF;
}
.btn:active {
  color: #FFFFFF;
}

.slider-btn {
  background-image: url("../img/arrow-btn.svg");
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  top: calc(100% + 56px);
  left: 50%;
}

.btn-l {
  transform: rotate(-180deg);
  left: calc(50% - 120px);
}

.btn-r {
  left: calc(50% + 120px);
}

.btn-border {
  background: transparent;
  border: 1px solid #FFFFFF;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-item {
  font-weight: 450;
  font-size: 25px;
  line-height: 120%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container .btn {
  margin: 0 40px;
}

.product-card {
  position: relative;
  overflow: hidden;
}
.product-card:first-child::before {
  content: none;
}
.product-card:first-child::after {
  content: none;
}
.product-card:hover::before {
  transform: scale(1) rotate(90deg);
  opacity: 1;
}
.product-card:hover::after {
  opacity: 1;
}
.product-card:hover a {
  background-color: #FF9A19;
}
.product-card::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 5px;
  background-image: url("../img/border-square.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transform: scale(2);
}
.product-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s;
}
.product-card .about {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background-color: rgba(17, 12, 0, 0.8);
  color: #FFFFFF;
  text-align: center;
  display: block;
  z-index: 1;
  transition: 0.3s;
}
.product-card .about span {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: calc(100% + 30px);
  right: -10px;
  transform: rotate(90deg);
  font-size: 14px;
}
.product-card .about span::before {
  margin-right: 4px;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #FFFFFF;
}
.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-gallery-1 {
  padding: 160px 0;
  position: relative;
}
.slider-gallery-1 .slider-wrapper .slick-list {
  overflow: inherit;
}
.slider-gallery-1 .slider-wrapper .wrapper {
  margin-bottom: 56px;
}
.slider-gallery-1 .slider-wrapper .wrapper .item {
  height: 492px;
  margin: 0 16px;
}
@media (max-width: 1024px) {
  .slider-gallery-1 .slider-wrapper .wrapper .item {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .slider-gallery-1 .slider-wrapper .wrapper .item {
    height: 334px;
  }
}
@media (max-width: 425px) {
  .slider-gallery-1 .slider-wrapper .wrapper .item {
    width: 280px;
  }
}
.slider-gallery-1 .slider-wrapper .wrapper .item a span {
  display: none;
}

.slick-slide {
  transition: 0.5s;
}

.title-wrapper {
  text-align: center;
  max-width: 768px;
}

.page .light-section {
  padding: 160px 0;
  background-color: #FFFFFF;
}
.page .dark-section {
  padding: 80px 0 100px 0;
  background-color: #110C00;
}
@media (max-width: 768px) {
  .page .light-section {
    padding: 80px 0;
  }
  .page .dark-section {
    padding: 40px 0 64px 0;
  }
}

.first-screen {
  max-height: 700px;
  margin-top: 100px;
  background-color: #110C00;
  height: 100vh;
}

.breadcrumbs {
  transform: rotate(270deg);
  font-weight: 600;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: calc(50% - 80px);
}
.breadcrumbs a, .breadcrumbs span {
  font-size: 16px;
}
.breadcrumbs span {
  cursor: default;
}
@media (max-width: 768px) {
  .breadcrumbs {
    transform: rotate(0deg);
    top: 32px;
    left: 15px;
  }
}

.text-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-68%, calc(-50% - 80px));
  color: white;
}
.text-section::before {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  transform: translate(0%, -23%);
  background-repeat: no-repeat;
  left: 52%;
  background-size: contain;
  background-image: url("../img/element-1.svg");
}
.text-section h4 {
  margin-bottom: 40px;
}

@media (max-width: 535px) {
  .main-page-head-text {
    margin-right: 15px;
    top: 50%;
    left: 15px;
    transform: translate(0, calc(-50% - 80px));
  }
}
@media (max-width: 535px) {
  .main-page-head-text::before {
    left: 70%;
  }
}
@media (max-width: 425px) {
  .main-page-head-text::before {
    left: 50%;
  }
}

.without-tabs {
  transform: translate(-50%, -50%);
}

.inner-page::before {
  width: 100%;
  height: 400%;
  left: 100%;
  transform: translate(-50px, -36%);
}
.tabs-head-page {
  height: calc(100vh - 100px);
  max-height: 700px;
  background-color: #110C00;
}
.tabs-head-page .container {
  height: 100%;
  background-size: cover;
  margin-top: 100px;
  position: relative;
}
@media (max-width: 1300px) {
  .tabs-head-page .container {
    padding: 0;
  }
}
.tabs-head-page .image-wrapper {
  position: relative;
  z-index: 0;
  height: 100%;
}
.tabs-head-page .image-wrapper .photo-category {
  width: 100%;
  height: 100%;
  display: none;
}
.tabs-head-page .image-wrapper .photo-category .mainscreen-tab {
  height: 100%;
}
.tabs-head-page .image-wrapper .photo-category .mainscreen-tab .slick-list {
  height: 100%;
}
.tabs-head-page .image-wrapper .photo-category .mainscreen-tab .slick-list .slick-track {
  height: 100%;
}
.tabs-head-page .image-wrapper .photo-category:first-child {
  display: block;
}
.tabs-head-page .image-wrapper .photo-category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.tabs-head-page .image-wrapper .photo-category::before {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  z-index: 1;
}
.tabs-head-page .categories-section {
  height: 80px;
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 15px;
  background: rgba(17, 12, 0, 0.8);
  overflow-x: auto;
}
@media (max-width: 1300px) {
  .tabs-head-page .categories-section {
    margin: 0;
  }
}
.tabs-head-page .categories-section .category {
  flex-grow: 1;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.tabs-head-page .categories-section .category .progress {
  transition: 1s;
  position: absolute;
  top: 0;
  height: 2px;
  width: 0;
  background-color: #FF9A19;
  left: 0;
  opacity: 0;
}
.tabs-head-page .categories-section .category .active {
  opacity: 1;
}
.tabs-head-page .categories-section .category span {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
}

.insagram-section {
  padding: 80px 0;
}
.insagram-section .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.insagram-section .container h4 {
  max-width: 768px;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}
.insagram-section .container h4 a {
  font-size: inherit;
  color: #FF9A19;
  position: relative;
}
.insagram-section .container h4 a::before {
  transition: 0.3s;
  content: "";
  width: 0;
  height: 3px;
  background-color: #FF9A19;
  position: absolute;
  bottom: -4px;
}
.insagram-section .container h4 a:hover::before {
  width: 100%;
}
.insagram-section .container .instagram-photos {
  display: flex;
}
.insagram-section .container .instagram-photos .wrapper {
  height: 175px;
  width: 175px;
  margin-right: 1px;
}
.insagram-section .container .instagram-photos .wrapper:last-child {
  margin-right: 0;
}
.insagram-section .container .instagram-photos .wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .insagram-section .container .instagram-photos .wrapper {
    width: calc(25% - 1px);
  }
}
@media (max-width: 425px) {
  .insagram-section .container .instagram-photos {
    flex-wrap: wrap;
  }
  .insagram-section .container .instagram-photos .wrapper {
    margin: 0 2px 2px 0;
    width: calc(50% - 2px);
  }
  .insagram-section .container .instagram-photos .wrapper:nth-child(2) {
    margin-right: 0;
  }
}

.our-partners-section {
  padding: 160px 0;
  background-color: #FFFFFF;
}
.our-partners-section .container .slider-wrapper .slick-list {
  overflow: inherit;
}
.our-partners-section .container .slider-wrapper .slick-list .slick-slide:not(.slick-active) {
  opacity: 0.5;
}
.our-partners-section .container .slider-wrapper .wrapper {
  margin-bottom: 56px;
}
.our-partners-section .container .slider-wrapper .wrapper .slide {
  height: 250px;
  padding: 65px 72px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-form-section {
  background-color: #110C00;
  padding: 80px 0;
  color: #FFFFFF;
}
.contact-form-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form-section .container h3 {
  margin-bottom: 16px;
  text-align: center;
}
.contact-form-section .container h4 {
  text-align: center;
  max-width: 768px;
  margin-bottom: 56px;
}
.contact-form-section .form-container .wpcf7 {
  width: 100%;
}
.contact-form-section .form-container .wpcf7 .contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form-section .form-container .wpcf7 .contact-form .wpcf7-response-output {
  display: none;
  visibility: hidden;
}
.contact-form-section .form-container .wpcf7 .contact-form p {
  width: calc(50% - 16px);
}
.contact-form-section .form-container .wpcf7 .contact-form p:last-child {
  width: 100%;
}
.contact-form-section .form-container .wpcf7 .contact-form p .wpcf7-not-valid-tip {
  bottom: -35px;
  position: absolute;
}
.contact-form-section .form-container .wpcf7 .contact-form p .wpcf7-not-valid {
  border-bottom: 1px solid red;
}
.contact-form-section .form-container .wpcf7 .contact-form p .wpcf7-not-valid::placeholder {
  color: red;
}
@media (max-width: 450px) {
  .contact-form-section .form-container .wpcf7 .contact-form p {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .contact-form-section .form-container .wpcf7 .contact-form p input[type=submit] {
    width: 100%;
  }
}
.contact-form-section .form-container .wpcf7 .contact-form .btn-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 450px) {
  .contact-form-section .form-container .wpcf7 .contact-form .btn-wrapper input {
    width: 100%;
  }
}
.contact-form-section .form-container .wpcf7 .contact-form .form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 0 0 8px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin: 12px 0 40px 0;
  transition: 0.3s;
}
.contact-form-section .form-container .wpcf7 .contact-form .form-input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.04);
}

.random-navigation-section {
  position: relative;
}
.random-navigation-section::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  z-index: 1;
}
@media (max-width: 700px) {
  .random-navigation-section::before {
    content: none;
  }
}
.random-navigation-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.random-navigation-section ul li {
  margin: 0 0 10px 0;
  padding: 2px 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #110C00;
  z-index: 2;
  text-align: center;
}
.random-navigation-section ul li:last-child {
  border-right: none;
}
@media (max-width: 425px) {
  .random-navigation-section ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.random-navigation-section ul li::before {
  content: none;
}
@media (max-width: 700px) {
  .random-navigation-section ul {
    flex-direction: column;
  }
  .random-navigation-section ul li {
    border: none;
    padding-bottom: 12px;
    margin-bottom: 12px;
    position: relative;
  }
  .random-navigation-section ul li::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    height: 1px;
    width: 24px;
    background-image: none;
  }
  .random-navigation-section ul li:last-child::before {
    content: none;
  }
}

.tab-content-wrapper {
  display: flex;
  margin-bottom: 100px;
}
.tab-content-wrapper .image {
  margin-right: 40px;
  min-height: 400px;
  max-width: 600px;
  width: 50%;
}
.tab-content-wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tab-content-wrapper .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.tab-content-wrapper .desc h3 {
  font-size: 25px;
}
.tab-content-wrapper .desc p {
  margin-bottom: 1em;
}
.tab-content-wrapper .desc p:last-child {
  margin-bottom: 0;
}
.tab-content-wrapper:nth-child(2) {
  flex-direction: row-reverse;
}
.tab-content-wrapper:nth-child(2) .image {
  margin-right: 0;
  margin-left: 40px;
}
@media (max-width: 620px) {
  .tab-content-wrapper:nth-child(2) {
    flex-direction: column;
  }
  .tab-content-wrapper:nth-child(2) .image {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 620px) {
  .tab-content-wrapper {
    flex-direction: column;
  }
  .tab-content-wrapper .image {
    margin: 0 0 20px 0;
    width: 100%;
    height: 250px;
    max-height: 300px;
    min-height: 200px;
  }
  .tab-content-wrapper .desc {
    width: 100%;
  }
}

.contact-modal, .form-modal {
  position: fixed;
  padding: 30px 40px;
  background-color: #E7E7E7;
  border-radius: 5px;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  width: fit-content;
}
.contact-modal .cross, .form-modal .cross {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  width: 40px;
}
.contact-modal .cross::before, .form-modal .cross::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
  background-color: #110C00;
}
.contact-modal .cross::after, .form-modal .cross::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 50%;
  left: 0;
  transform: rotate(-45deg);
  background-color: #110C00;
}
.contact-modal .content, .form-modal .content {
  max-width: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-modal .content h2, .contact-modal .content h4, .form-modal .content h2, .form-modal .content h4 {
  color: #110C00;
  text-align: center;
}
.contact-modal .content h4, .form-modal .content h4 {
  margin: 0 0 40px 0;
}
.contact-modal .content .close-modal, .form-modal .content .close-modal {
  display: none;
}
.contact-modal .content .wpcf7 form p, .form-modal .content .wpcf7 form p {
  margin-bottom: 32px;
  display: flex;
}
.contact-modal .content .wpcf7 form p input, .form-modal .content .wpcf7 form p input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #110C00;
  padding: 10px 0;
  outline: none;
}
.contact-modal .content .wpcf7 form p input[type=submit], .form-modal .content .wpcf7 form p input[type=submit] {
  background-color: #FF9A19;
  border: none;
  padding: 0.6em 1em;
}
.contact-modal .content .contacts-info, .form-modal .content .contacts-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-modal .content .contacts-info p, .form-modal .content .contacts-info p {
  text-align: center;
  font-size: 14px;
}
.contact-modal .content .contacts-info p:last-child, .form-modal .content .contacts-info p:last-child {
  margin-top: 1em;
}
.contact-modal .content .contacts-info a, .form-modal .content .contacts-info a {
  color: #110C00;
  font-weight: 600;
}

/*# sourceMappingURL=global.css.map */
