@import "variables";

.header {
  background: $chocolate;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;

  .head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: inherit;
    position: relative;

    & > .btn-border {
      background: transparent;
      display: none;
      visibility: hidden;

      @media (min-width: 425px) {
        display: block;
        visibility: visible;
      }
    }

    .logo {
      transition: .3s;
      height: 72px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 425px) {
        position: static;
        transform: none;
      }

      &:hover {
        height: 80px;
      }
    }

    .language-switch {
      position: absolute;
      right: 162px;
      display: none;
      visibility: hidden;

      .lang {
        transition: .3s;

        &:first-child {
          margin-right: 24px;
        }
      }

      .lang-active {
        color: $orange;
      }

      @media (min-width: 548px) {
        display: block;
        visibility: visible;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      color: $white;
      cursor: pointer;
      transition: .3s;
      min-width: 100px;
      justify-content: flex-end;

      .menu-desc {
        transition: .3s;
        opacity: 1;
      }
      .menu-desc-active {
        opacity: 0;
        transform: translateX(15px);
      }

      .nav-wrapper {
        opacity: 0;
        transition: .6s ease-out;
        position: absolute;
        background-color: $chocolate;
        right: 0;
        padding: 100px 52px 100px 100px;
        z-index: -1;

        .language-switch {
          display: none;
          visibility: hidden;
          position: static;

          a {
            font-size: 25px;
          }

          @media (max-width: 548px) {
            display: block;
            visibility: visible;
          }
        }

        .btn-border {
          display: none;
          visibility: hidden;

          @media (max-width: 424px) {
            display: block;
            visibility: visible;
            width: fit-content;
          }
        }

        .nav-container {
          margin: 40px 0;
        }

        .links {
          overflow: hidden;

          .nav-item {
            margin-top: 0;
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            color: $white;
            opacity: .6;
            transition: .3s;
            width: calc(100% + 48px);
            transform: translateX(-48px);

            a {
              font-size: 25px;

              &:hover {
                color: $white
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            &::before {
              background-image: none;
              background-color: $white;
              transition: .3s;
              margin-right: 16px;
              content: '';
              width: 32px;
              height: 2px;
            }

            &:hover {
              opacity: 1;
              transform: translateX(0px);
            }
          }
        }

        @media (max-width: 425px) {
          width: 100vw;
          min-height: calc(100vh - 100px);
          padding: 40px 54px;
          height: 100%;
          overflow-y: scroll;
        }
      }

      .nav-active {
        opacity: 1;
      }

      .burger {
        transition: .3s;
        position: relative;
        background-color: $white;
        width: 56px;
        height: 2px;
        margin-right: 8px;
        border-radius: 10px;

        &::before {
          transition: .3s;
          position: absolute;
          content: '';
          width: 40px;
          height: 2px;
          background-color: $white;
          top: -8px;
          right: 0;
          border-radius: 10px;
        }

        &::after {
          transition: .3s;
          position: absolute;
          content: '';
          width: 40px;
          height: 2px;
          background-color: $white;
          top: 8px;
          right: 0;
          border-radius: 10px;
        }
      }

      span {
        writing-mode: vertical-lr;
      }

      &:hover {
        .burger {
          width: 30px;

          &::before {
            width: 30px;
          }
          &::after {
            width: 30px;
          }
        }
      }
    }

    .burger-active {
      .burger {
        width: 0 !important;
        transition: top .3s, transform .3s .3s, width .3s, transform .3s .3s;
        
        &::before {
          transition: top .3s, transform .3s .3s;
          width: 30px;
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          transition: top .3s, transform .3s .3s;
          width: 30px;
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}