.header {
  background: #110C00;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.header .head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: inherit;
  position: relative;
}
.header .head-content > .btn-border {
  background: transparent;
  display: none;
  visibility: hidden;
}
@media (min-width: 425px) {
  .header .head-content > .btn-border {
    display: block;
    visibility: visible;
  }
}
.header .head-content .logo {
  transition: 0.3s;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 425px) {
  .header .head-content .logo {
    position: static;
    transform: none;
  }
}
.header .head-content .logo:hover {
  height: 80px;
}
.header .head-content .language-switch {
  position: absolute;
  right: 162px;
  display: none;
  visibility: hidden;
}
.header .head-content .language-switch .lang {
  transition: 0.3s;
}
.header .head-content .language-switch .lang:first-child {
  margin-right: 24px;
}
.header .head-content .language-switch .lang-active {
  color: #FF9A19;
}
@media (min-width: 548px) {
  .header .head-content .language-switch {
    display: block;
    visibility: visible;
  }
}
.header .head-content .menu {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
  min-width: 100px;
  justify-content: flex-end;
}
.header .head-content .menu .menu-desc {
  transition: 0.3s;
  opacity: 1;
}
.header .head-content .menu .menu-desc-active {
  opacity: 0;
  transform: translateX(15px);
}
.header .head-content .menu .nav-wrapper {
  opacity: 0;
  transition: 0.6s ease-out;
  position: absolute;
  background-color: #110C00;
  right: 0;
  padding: 100px 52px 100px 100px;
  z-index: -1;
}
.header .head-content .menu .nav-wrapper .language-switch {
  display: none;
  visibility: hidden;
  position: static;
}
.header .head-content .menu .nav-wrapper .language-switch a {
  font-size: 25px;
}
@media (max-width: 548px) {
  .header .head-content .menu .nav-wrapper .language-switch {
    display: block;
    visibility: visible;
  }
}
.header .head-content .menu .nav-wrapper .btn-border {
  display: none;
  visibility: hidden;
}
@media (max-width: 424px) {
  .header .head-content .menu .nav-wrapper .btn-border {
    display: block;
    visibility: visible;
    width: fit-content;
  }
}
.header .head-content .menu .nav-wrapper .nav-container {
  margin: 40px 0;
}
.header .head-content .menu .nav-wrapper .links {
  overflow: hidden;
}
.header .head-content .menu .nav-wrapper .links .nav-item {
  margin-top: 0;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.6;
  transition: 0.3s;
  width: calc(100% + 48px);
  transform: translateX(-48px);
}
.header .head-content .menu .nav-wrapper .links .nav-item a {
  font-size: 25px;
}
.header .head-content .menu .nav-wrapper .links .nav-item a:hover {
  color: #FFFFFF;
}
.header .head-content .menu .nav-wrapper .links .nav-item:last-child {
  margin-bottom: 0;
}
.header .head-content .menu .nav-wrapper .links .nav-item::before {
  background-image: none;
  background-color: #FFFFFF;
  transition: 0.3s;
  margin-right: 16px;
  content: "";
  width: 32px;
  height: 2px;
}
.header .head-content .menu .nav-wrapper .links .nav-item:hover {
  opacity: 1;
  transform: translateX(0px);
}
@media (max-width: 425px) {
  .header .head-content .menu .nav-wrapper {
    width: 100vw;
    min-height: calc(100vh - 100px);
    padding: 40px 54px;
    height: 100%;
    overflow-y: scroll;
  }
}
.header .head-content .menu .nav-active {
  opacity: 1;
}
.header .head-content .menu .burger {
  transition: 0.3s;
  position: relative;
  background-color: #FFFFFF;
  width: 56px;
  height: 2px;
  margin-right: 8px;
  border-radius: 10px;
}
.header .head-content .menu .burger::before {
  transition: 0.3s;
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  top: -8px;
  right: 0;
  border-radius: 10px;
}
.header .head-content .menu .burger::after {
  transition: 0.3s;
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  top: 8px;
  right: 0;
  border-radius: 10px;
}
.header .head-content .menu span {
  writing-mode: vertical-lr;
}
.header .head-content .menu:hover .burger {
  width: 30px;
}
.header .head-content .menu:hover .burger::before {
  width: 30px;
}
.header .head-content .menu:hover .burger::after {
  width: 30px;
}
.header .head-content .burger-active .burger {
  width: 0 !important;
  transition: top 0.3s, transform 0.3s 0.3s, width 0.3s, transform 0.3s 0.3s;
}
.header .head-content .burger-active .burger::before {
  transition: top 0.3s, transform 0.3s 0.3s;
  width: 30px;
  top: 0;
  transform: rotate(45deg);
}
.header .head-content .burger-active .burger::after {
  transition: top 0.3s, transform 0.3s 0.3s;
  width: 30px;
  top: 0;
  transform: rotate(-45deg);
}

/*# sourceMappingURL=header.css.map */
