.our-partners .first-screen .container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.our-partners .about-partners-section .logo-section {
  margin-top: 160px;
  flex-wrap: wrap;
  display: flex;
}
.our-partners .about-partners-section .logo-section .item {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  height: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.our-partners .about-partners-section .logo-section .item::before {
  position: absolute;
  content: "";
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  bottom: -20px;
}
.our-partners .about-partners-section .logo-section .item:nth-child(3n) {
  border-right: none;
}
.our-partners .about-partners-section .logo-section .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.our-partners .about-partners-section .logo-section .item:nth-last-child(-n+3)::before {
  content: none;
}
.our-partners .about-partners-section .logo-section .item img {
  width: 80%;
}
@media (max-width: 768px) {
  .our-partners .about-partners-section .logo-section .item {
    width: 50%;
  }
  .our-partners .about-partners-section .logo-section .item:nth-child(3n) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .our-partners .about-partners-section .logo-section .item:nth-child(2n) {
    border-right: none;
  }
  .our-partners .about-partners-section .logo-section .item:nth-last-child(-n+3) {
    margin-bottom: 40px;
  }
  .our-partners .about-partners-section .logo-section .item:nth-last-child(-n+3)::before {
    content: "";
  }
  .our-partners .about-partners-section .logo-section .item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .our-partners .about-partners-section .logo-section .item:nth-last-child(-n+2)::before {
    content: none;
  }
}

/*# sourceMappingURL=page-partners.css.map */
