@import "variables";

.our-partners {
  .first-screen {
    .container {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }
  .about-partners-section {
    .logo-section {
      margin-top: 160px;
      flex-wrap: wrap;
      display: flex;

      .item {
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 40px;

        &::before {
          position: absolute;
          content: '';
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          width: 100%;
          bottom: -20px;
        }

        height: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);

        &:nth-child(3n) {
          border-right: none;
        }

        &:nth-last-child(-n+3) {
          margin-bottom: 0;

          &::before {
            content: none;
          }
        }

        img {
          width: 80%;
        }

        @media (max-width: 768px) {
          width: 50%;

          &:nth-child(3n) {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
          }
          &:nth-child(2n) {
            border-right: none
          }
          &:nth-last-child(-n+3) {
            margin-bottom: 40px;

            &::before {
              content: '';
            }
          }
          &:nth-last-child(-n+2) {
            margin-bottom: 0;

            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}