@import "variables";

.wrong-section {
  .first-screen {
    position: relative;
    background-image: url("../img/wrong-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      max-width: 600px;

      h1, h2 {
        text-align: center;
        color: $white;
      }

      h2 {
        font-size: 25px;
        margin-bottom: 64px;
      }
    };
  }
}