.wrong-section .first-screen {
  position: relative;
  background-image: url("../img/wrong-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrong-section .first-screen .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
}
.wrong-section .first-screen .container h1, .wrong-section .first-screen .container h2 {
  text-align: center;
  color: #FFFFFF;
}
.wrong-section .first-screen .container h2 {
  font-size: 25px;
  margin-bottom: 64px;
}

/*# sourceMappingURL=page-404.css.map */
