@import "variables";

.home-page {
  h3 {
    text-align: center;
    margin-bottom: 56px;
  }

  .second-screen {
    background-color: $white;

    .container {
      display: grid;
      grid-auto-rows: 250px;
      grid-gap: 32px;
      width: 100%;
      grid-auto-columns: 1fr 1fr 1fr;

      .main-item {
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 210px;
      }

      .item {

        &:nth-child(1) {
          grid-row-start: 1;
          grid-column-start: 1;
          grid-row-end: 3;
          grid-column-end: 2;
        }
        &:nth-child(2) {
          grid-row-start: 1;
          grid-column-start: 2;
          grid-row-end: 3;
          grid-column-end: 3;
        }
        &:nth-child(3) {
          grid-row-start: 1;
          grid-column-start: 3;
          grid-row-end: 2;
          grid-column-end: 4;
        }
        &:nth-child(4) {
          grid-row-start: 2;
          grid-column-start: 3;
          grid-row-end: 3;
          grid-column-end: 4;
        }
        &:nth-child(5) {
          grid-row-start: 3;
          grid-column-start: 1;
          grid-row-end: 4;
          grid-column-end: 2;
        }
        &:nth-child(6) {
          grid-row-start: 3;
          grid-column-start: 2;
          grid-row-end: 4;
          grid-column-end: 3;
        }
        &:nth-child(7) {
          grid-row-start: 3;
          grid-column-start: 3;
          grid-row-end: 4;
          grid-column-end: 4;
        }

        @media (max-width: 768px) {
          &:nth-child(1) {
            max-width: none;
            justify-content: flex-end;
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-column-end: 3;
          }
          &:nth-child(2) {
            grid-row-start: 1;
            grid-column-start: 3;
            grid-row-end: 2;
            grid-column-end: 4;
          }
          &:nth-child(3) {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 2;
          }
          &:nth-child(4) {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-row-end: 3;
            grid-column-end: 4;
          }
          &:nth-child(5) {
            grid-row-start: 3;
            grid-column-start: 1;
            grid-row-end: 4;
            grid-column-end: 3;
          }
          &:nth-child(6) {
            grid-row-start: 3;
            grid-column-start: 3;
            grid-row-end: 4;
            grid-column-end: 4;
          }
          &:nth-child(7) {
            display: none;
            grid-row-start: 3;
            grid-column-start: 3;
            grid-row-end: 4;
            grid-column-end: 4;
          }
        }
      }

      @media (max-width: 576px) {
        display: flex;
        flex-direction: column;

        .main-item {
          max-width: 210px !important;
        }

        .item {
          height: 230px;
        }
      }
    }
  }

  .third-screen {
    background-color: $chocolate;

    color: $white;

    .container {
      .wrapper {
        display: flex;
        flex-wrap: wrap;

        .item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 25%;
          margin-bottom: 80px;
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          padding: 0 16px;

          &::after {
            position: absolute;
            content: '';
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
            width: 100%;
            bottom: -40px;
          }

          &:nth-child(n+5):nth-child(1n) {
            @media (min-width: 768px) {
              &::after {
                content: none;
              }
            }
          }

          &:nth-child(4n) {
            border-right: none;
          }

          img {
            max-width: 80px;
            margin-bottom: 24px;
          }

          p {
            font-size: 20px;
            text-align: center;
          }

          @media (max-width: 768px) {
            width: 50%;

            &:nth-child(2n) {
              border-right: none;
            }

            &:nth-last-child(-n+2) {
              &::after {
                content: none;
              }
            }
            &::after {
              content: '';
            }
          }

          @media (max-width: 425px) {
            width: 100%;
            border-right: none;

            &:nth-last-child(2) {
              &::after {
                content: '';
              }
            }
          }

          &::before {
            width: 80px;
            height: 80px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 24px;
          }

          &:nth-child(1) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-1.png");
            }
          }
          &:nth-child(2) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-2.png");
            }
          }
          &:nth-child(3) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-3.png");
            }
          }
          &:nth-child(4) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-4.png");
            }
          }
          &:nth-child(5) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-5.png");
            }
          }
          &:nth-child(6) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-6.png");
            }
          }
          &:nth-child(7) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-7.png");
            }
          }
          &:nth-child(8) {
            &::before {
              content: '';
              background-image: url("../img/advantages/adv-8.png");
            }
          }
        }
      }
    }
  }

  .fifth-screen {
    background-color: $chocolate;
    padding: 100px 0;

    .container {
      color: $white;
      display: flex;

      .left-section {
        width: 40%;
        max-width: 500px;
        margin-right: 32px;

        .description {
          h3 {
            text-align: left;
            margin-bottom: 16px;
          }

          ul {
            margin-bottom: 130px;

            @media (max-width: 900px) {
              margin-bottom: 40px;
            }

            li {
              transition: .3s;
              cursor: default;
              width: fit-content;

              &:hover {
                transform: translateX(10px);
              }
            }
          }

          .progress {
            margin-bottom: 40px;
            display: flex;
            align-items: center;

            .counter {
              margin-right: 40px;
              flex-shrink: 0;
              font-size: 25px;

              span {
                font-size: 25px;
              }
            }

            .progress-line {
              height: 1px;
              width: 100%;
              background-color: rgba(255, 255, 255, 0.2);
              position: relative;

              .line {
                position: absolute;
                transition: .3s;
                width: 0;
                left: 0;
                height: 4px;
                border-radius: 5px;
                background-color: $orange;
                transform: translateY(-50%);
              }
            }
          }

          .tabs-progress {
            display: flex;

            .item {
              height: 100px;
              cursor: pointer;
              flex-grow: 1;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }

      }

      .right-section {
        width: 60%;

        .photo-section {
          width: 100%;
          height: 100%;
          display: none;

          &:first-child {
            display: block;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      @media (max-width: 768px) {
        .left-section {
          .description {
            .tabs-progress {
              .item {
                height: 50px;
              }
            }
          }
        }
      }

      @media (max-width: 580px) {
        flex-direction: column;

        .left-section {
          width: 100%;
          margin-bottom: 20px;
          margin-right: 0;
          max-width: none;
        }

        .right-section {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}