@import "variables";

.services-page {
  .first-screen {
    .container {
      .text-section {
        transform: translate(-50%, calc(-50% - 80px));

        &::before {
          width: 300%;
          height: 400%;
          transform: translate(0%, -36%);
        }
      }
      .categories-section {
        .active {
          background-color: $white;

          span {
            color: black;
          }
        }
      }

      @media (max-width: 1300px) {
        padding: 0;

        .categories-section {
          margin: 0;
        }
      }
    }
  }

  .second-screen {
    padding-bottom: 60px;

    .content-tab {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  .third-screen {
    padding-top: 0;

    .title-wrapper {
      margin-bottom: 56px;
    }

    .slider-wrapper {
      .wrapper {
        margin-bottom: 56px;
      }
      
      .slider-gallery-wrapper {
        .product-card {
          height: 492px;
          margin: 0 16px;

          @media (max-width: 920px) {
            height: 350px;
          }

          @media (max-width: 768px) {
            height: 275px;
          }

          @media (max-width: 600px) {
            height: 350px;
          }

          a, &::before, &::after {
            display: none;
            visibility: hidden;
          }
        }
      }

      .btn-container {
        .btn {
          display: none;
          visibility: hidden;
        }

        .slider-btn {
          margin: 0 20px;
        }
      }
    }
  }

  .fifth-screen {
    padding: 80px 0 100px 0;
  }
}