.contacts-section .first-screen .container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.contacts-section .second-screen .cards-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #00000020;
  flex-wrap: wrap;
}
.contacts-section .second-screen .cards-section .card {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E7E7E7;
  border-radius: 5px;
  width: calc(33% - 16px);
  color: #110C00;
  padding: 20px;
}
.contacts-section .second-screen .cards-section .card img {
  width: 40px;
  margin-bottom: 16px;
}
.contacts-section .second-screen .cards-section .card h4 {
  transition: 0.3s;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
.contacts-section .second-screen .cards-section .card p {
  text-align: center;
}
.contacts-section .second-screen .cards-section .card:hover {
  transform: scale(1.1);
}
.contacts-section .second-screen .cards-section .card:hover h4 {
  color: #FF9A19;
}
@media (max-width: 678px) {
  .contacts-section .second-screen .cards-section .card {
    width: 100%;
    margin-bottom: 16px;
  }
}
.contacts-section .second-screen .social-section {
  display: flex;
  flex-wrap: wrap;
}
.contacts-section .second-screen .social-section .item {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #110C00;
  min-height: 150px;
  border-right: 1px solid #00000020;
}
.contacts-section .second-screen .social-section .item .wrapper {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-section .second-screen .social-section .item .wrapper svg {
  transition: all 0.3s ease;
  margin-right: 16px;
  fill: #110C00;
}
.contacts-section .second-screen .social-section .item .wrapper h4 {
  transition: 0.3s;
  margin: 0;
  text-decoration: underline;
}
.contacts-section .second-screen .social-section .item:last-child {
  border-right: none;
}
.contacts-section .second-screen .social-section .item:hover .wrapper {
  transform: scale(1.1);
}
.contacts-section .second-screen .social-section .item:hover .wrapper svg {
  fill: #FF9A19;
}
.contacts-section .second-screen .social-section .item:hover .wrapper h4 {
  color: #FF9A19;
}
@media (max-width: 525px) {
  .contacts-section .second-screen .social-section .item {
    margin-bottom: 16px;
    border: none;
    min-height: fit-content;
  }
  .contacts-section .second-screen .social-section .item h4 {
    display: none;
  }
}
.contacts-section .contact-form-section .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 548px) {
  .contacts-section .contact-form-section .container {
    flex-direction: column-reverse;
  }
  .contacts-section .contact-form-section .container .content {
    width: 100%;
  }
  .contacts-section .contact-form-section .container .form-container {
    margin-bottom: 24px;
  }
}
.contacts-section .contact-form-section .questions-wrapper {
  padding-right: 74px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .contacts-section .contact-form-section .questions-wrapper {
    padding-right: 20px;
  }
}
@media (max-width: 548px) {
  .contacts-section .contact-form-section .questions-wrapper {
    padding-right: 0;
  }
}
.contacts-section .contact-form-section .questions-wrapper h4, .contacts-section .contact-form-section .questions-wrapper h3 {
  text-align: left;
}
@media (max-width: 548px) {
  .contacts-section .contact-form-section .questions-wrapper h4 {
    margin-bottom: 20px;
  }
}
.contacts-section .contact-form-section .questions-wrapper .drop-container {
  width: 100%;
}
.contacts-section .contact-form-section .questions-wrapper .drop-container .drop-item {
  width: 100%;
  position: relative;
}
.contacts-section .contact-form-section .questions-wrapper .drop-container .drop-item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  cursor: pointer;
}
.contacts-section .contact-form-section .questions-wrapper .drop-container .drop-item .title img {
  transition: 0.3s;
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
}
.contacts-section .contact-form-section .questions-wrapper .drop-container .drop-item .title h4 {
  font-size: 20px;
  margin-bottom: 0;
}
.contacts-section .contact-form-section .questions-wrapper .drop-container .drop-item p {
  transition: 0.3s;
  height: 100%;
  background-color: #E7E7E7;
  padding: 16px 24px;
  display: none;
  overflow: hidden;
  color: #110C00;
  margin-bottom: 0;
  font-size: 14px;
}
.contacts-section .contact-form-section .questions-wrapper .drop-container .active-accord .title img {
  transform: rotate(0deg);
}
.contacts-section .contact-form-section .form-container {
  padding-left: 74px;
  width: 50%;
  align-items: flex-start;
}
.contacts-section .contact-form-section .form-container h3, .contacts-section .contact-form-section .form-container h4 {
  text-align: left;
}
.contacts-section .contact-form-section .form-container .wpcf7 .contact-form p {
  width: 100%;
}
@media (max-width: 768px) {
  .contacts-section .contact-form-section .form-container {
    padding-left: 20px;
  }
}
@media (max-width: 548px) {
  .contacts-section .contact-form-section .form-container {
    padding-left: 0;
  }
}

/*# sourceMappingURL=page-contacts.css.map */
