@import "variables";

.feedbacks-page {

  .container {
    height: 100%;
    position: relative;
  }

  .first-screen {
  }

  .second-screen {
    .slider-wrapper {
      margin-bottom: 56px;

      @media (min-width: 1152px) {
        .slick-list {
          overflow: inherit;

          .slick-slide:not(.slick-active) {
            opacity: 0.5;
          }
        }
      }


      .slide {
        border-radius: 5px;
        background-color: $gray;
        padding: 40px;
        margin: 0 16px;

        .top {
          display: flex;
          margin-bottom: 32px;
          align-items: center;

          .image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            margin-right: 24px;
            border-radius: 50%;
            min-width: 80px;
            min-height: 80px;
          }

          h4 {
            font-size: 20px;
            margin-bottom: 4px;
          }
          p {
            opacity: .5;
          }
        }

        .bottom {
          .text {
            overflow-y: auto;
            max-height: 300px;

          }

          p {
            margin-bottom: 34px;
          }

          span {
            opacity: .5;
          }
        }
      }
    }

    .slider-btn {
      margin: 0 20px;
    }
  }
}