.portfolio-page .first-screen {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.portfolio-page .first-screen .container {
  height: 100%;
  position: relative;
}
.portfolio-page .second-screen .tabs {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
@media (max-width: 950px) {
  .portfolio-page .second-screen .tabs {
    justify-content: flex-start;
  }
}
.portfolio-page .second-screen .tabs ul {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
}
.portfolio-page .second-screen .tabs ul li {
  background-color: #FFFFFF;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  min-width: fit-content;
  margin-bottom: 1em;
}
.portfolio-page .second-screen .tabs ul li:last-child {
  border-right: none;
  margin-bottom: 1em;
}
.portfolio-page .second-screen .tabs ul .active {
  color: #FF9A19;
}
@media (max-width: 700px) {
  .portfolio-page .second-screen .tabs ul {
    flex-direction: row;
  }
}
.portfolio-page .second-screen .tabs:before {
  background-color: rgba(0, 0, 0, 0.2);
  top: calc(50% - 10px);
}
.portfolio-page .second-screen .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-page .second-screen .wrapper .content-tab {
  margin: 0 -16px;
  display: none;
}
.portfolio-page .second-screen .wrapper .content-tab .helper {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-page .second-screen .wrapper .content-tab .helper .item {
  width: calc(33.33% - 32px);
  margin: 0 16px 56px 16px;
  height: 492px;
}
.portfolio-page .second-screen .wrapper .content-tab .helper .item a span {
  display: none;
}
@media (max-width: 920px) {
  .portfolio-page .second-screen .wrapper .content-tab .helper .item {
    height: 392px;
  }
}
@media (max-width: 768px) {
  .portfolio-page .second-screen .wrapper .content-tab .helper .item {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .portfolio-page .second-screen .wrapper .content-tab .helper .item {
    width: calc(50% - 32px);
  }
}
@media (max-width: 450px) {
  .portfolio-page .second-screen .wrapper .content-tab .helper .item {
    width: 100%;
  }
}
.portfolio-page .second-screen .wrapper .btn {
  width: fit-content;
}
.portfolio-page .second-screen .wrapper .active {
  display: block;
}

/*# sourceMappingURL=page-portfolio.css.map */
