.home-page h3 {
  text-align: center;
  margin-bottom: 56px;
}
.home-page .second-screen {
  background-color: #FFFFFF;
}
.home-page .second-screen .container {
  display: grid;
  grid-auto-rows: 250px;
  grid-gap: 32px;
  width: 100%;
  grid-auto-columns: 1fr 1fr 1fr;
}
.home-page .second-screen .container .main-item {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 210px;
}
.home-page .second-screen .container .item:nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.home-page .second-screen .container .item:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.home-page .second-screen .container .item:nth-child(3) {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
.home-page .second-screen .container .item:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.home-page .second-screen .container .item:nth-child(5) {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
}
.home-page .second-screen .container .item:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}
.home-page .second-screen .container .item:nth-child(7) {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
}
@media (max-width: 768px) {
  .home-page .second-screen .container .item:nth-child(1) {
    max-width: none;
    justify-content: flex-end;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }
  .home-page .second-screen .container .item:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .home-page .second-screen .container .item:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .home-page .second-screen .container .item:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
  }
  .home-page .second-screen .container .item:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
  }
  .home-page .second-screen .container .item:nth-child(6) {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
  }
  .home-page .second-screen .container .item:nth-child(7) {
    display: none;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
  }
}
@media (max-width: 576px) {
  .home-page .second-screen .container {
    display: flex;
    flex-direction: column;
  }
  .home-page .second-screen .container .main-item {
    max-width: 210px !important;
  }
  .home-page .second-screen .container .item {
    height: 230px;
  }
}
.home-page .third-screen {
  background-color: #110C00;
  color: #FFFFFF;
}
.home-page .third-screen .container .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.home-page .third-screen .container .wrapper .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  margin-bottom: 80px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 16px;
}
.home-page .third-screen .container .wrapper .item::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  bottom: -40px;
}
@media (min-width: 768px) {
  .home-page .third-screen .container .wrapper .item:nth-child(n+5):nth-child(1n)::after {
    content: none;
  }
}
.home-page .third-screen .container .wrapper .item:nth-child(4n) {
  border-right: none;
}
.home-page .third-screen .container .wrapper .item img {
  max-width: 80px;
  margin-bottom: 24px;
}
.home-page .third-screen .container .wrapper .item p {
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .home-page .third-screen .container .wrapper .item {
    width: 50%;
  }
  .home-page .third-screen .container .wrapper .item:nth-child(2n) {
    border-right: none;
  }
  .home-page .third-screen .container .wrapper .item:nth-last-child(-n+2)::after {
    content: none;
  }
  .home-page .third-screen .container .wrapper .item::after {
    content: "";
  }
}
@media (max-width: 425px) {
  .home-page .third-screen .container .wrapper .item {
    width: 100%;
    border-right: none;
  }
  .home-page .third-screen .container .wrapper .item:nth-last-child(2)::after {
    content: "";
  }
}
.home-page .third-screen .container .wrapper .item::before {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}
.home-page .third-screen .container .wrapper .item:nth-child(1)::before {
  content: "";
  background-image: url("../img/advantages/adv-1.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(2)::before {
  content: "";
  background-image: url("../img/advantages/adv-2.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(3)::before {
  content: "";
  background-image: url("../img/advantages/adv-3.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(4)::before {
  content: "";
  background-image: url("../img/advantages/adv-4.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(5)::before {
  content: "";
  background-image: url("../img/advantages/adv-5.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(6)::before {
  content: "";
  background-image: url("../img/advantages/adv-6.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(7)::before {
  content: "";
  background-image: url("../img/advantages/adv-7.png");
}
.home-page .third-screen .container .wrapper .item:nth-child(8)::before {
  content: "";
  background-image: url("../img/advantages/adv-8.png");
}
.home-page .fifth-screen {
  background-color: #110C00;
  padding: 100px 0;
}
.home-page .fifth-screen .container {
  color: #FFFFFF;
  display: flex;
}
.home-page .fifth-screen .container .left-section {
  width: 40%;
  max-width: 500px;
  margin-right: 32px;
}
.home-page .fifth-screen .container .left-section .description h3 {
  text-align: left;
  margin-bottom: 16px;
}
.home-page .fifth-screen .container .left-section .description ul {
  margin-bottom: 130px;
}
@media (max-width: 900px) {
  .home-page .fifth-screen .container .left-section .description ul {
    margin-bottom: 40px;
  }
}
.home-page .fifth-screen .container .left-section .description ul li {
  transition: 0.3s;
  cursor: default;
  width: fit-content;
}
.home-page .fifth-screen .container .left-section .description ul li:hover {
  transform: translateX(10px);
}
.home-page .fifth-screen .container .left-section .description .progress {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.home-page .fifth-screen .container .left-section .description .progress .counter {
  margin-right: 40px;
  flex-shrink: 0;
  font-size: 25px;
}
.home-page .fifth-screen .container .left-section .description .progress .counter span {
  font-size: 25px;
}
.home-page .fifth-screen .container .left-section .description .progress .progress-line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.home-page .fifth-screen .container .left-section .description .progress .progress-line .line {
  position: absolute;
  transition: 0.3s;
  width: 0;
  left: 0;
  height: 4px;
  border-radius: 5px;
  background-color: #FF9A19;
  transform: translateY(-50%);
}
.home-page .fifth-screen .container .left-section .description .tabs-progress {
  display: flex;
}
.home-page .fifth-screen .container .left-section .description .tabs-progress .item {
  height: 100px;
  cursor: pointer;
  flex-grow: 1;
}
.home-page .fifth-screen .container .left-section .description .tabs-progress .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-page .fifth-screen .container .right-section {
  width: 60%;
}
.home-page .fifth-screen .container .right-section .photo-section {
  width: 100%;
  height: 100%;
  display: none;
}
.home-page .fifth-screen .container .right-section .photo-section:first-child {
  display: block;
}
.home-page .fifth-screen .container .right-section .photo-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .home-page .fifth-screen .container .left-section .description .tabs-progress .item {
    height: 50px;
  }
}
@media (max-width: 580px) {
  .home-page .fifth-screen .container {
    flex-direction: column;
  }
  .home-page .fifth-screen .container .left-section {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    max-width: none;
  }
  .home-page .fifth-screen .container .right-section {
    width: 100%;
    height: 300px;
  }
}

/*# sourceMappingURL=page-home.css.map */
