.services-page .first-screen .container .text-section {
  transform: translate(-50%, calc(-50% - 80px));
}
.services-page .first-screen .container .text-section::before {
  width: 300%;
  height: 400%;
  transform: translate(0%, -36%);
}
.services-page .first-screen .container .categories-section .active {
  background-color: #FFFFFF;
}
.services-page .first-screen .container .categories-section .active span {
  color: black;
}
@media (max-width: 1300px) {
  .services-page .first-screen .container {
    padding: 0;
  }
  .services-page .first-screen .container .categories-section {
    margin: 0;
  }
}
.services-page .second-screen {
  padding-bottom: 60px;
}
.services-page .second-screen .content-tab {
  display: none;
}
.services-page .second-screen .content-tab:first-child {
  display: block;
}
.services-page .third-screen {
  padding-top: 0;
}
.services-page .third-screen .title-wrapper {
  margin-bottom: 56px;
}
.services-page .third-screen .slider-wrapper .wrapper {
  margin-bottom: 56px;
}
.services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
  height: 492px;
  margin: 0 16px;
}
@media (max-width: 920px) {
  .services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
    height: 275px;
  }
}
@media (max-width: 600px) {
  .services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
    height: 350px;
  }
}
.services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card a, .services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card::before, .services-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card::after {
  display: none;
  visibility: hidden;
}
.services-page .third-screen .slider-wrapper .btn-container .btn {
  display: none;
  visibility: hidden;
}
.services-page .third-screen .slider-wrapper .btn-container .slider-btn {
  margin: 0 20px;
}
.services-page .fifth-screen {
  padding: 80px 0 100px 0;
}

/*# sourceMappingURL=page-services.css.map */
