@import "variables";

.portfolio-page {
  .container {
  }

  .first-screen {
    background-size: cover;
    background-position: center;
    height: 100vh;

    .container {
      height: 100%;
      position: relative;
    }
  }

  .second-screen {
    .tabs {
      overflow-x: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 56px;

      @media (max-width: 950px) {
        justify-content: flex-start;
      }

      ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;

        li {
          background-color: $white;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 20px;
          min-width: fit-content;
          margin-bottom: 1em;

          &:last-child {
            border-right: none;
            margin-bottom: 1em;
          }
        }

        .active {
          color: $orange;
        }

        @media (max-width: 700px) {
          flex-direction: row;
        }
      }

      &:before {
        background-color: rgba(0, 0, 0, 0.2);
        top: calc(50% - 10px);
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .content-tab {
        margin: 0 -16px;
        display: none;

        .helper {
          display: flex;
          flex-wrap: wrap;

          .item {
            width: calc(33.33% - 32px);
            margin: 0 16px 56px 16px;
            height: 492px;

            a {
              span {
                display: none;
              }
            }

            @media (max-width: 920px) {
              height: 392px;
            }

            @media (max-width: 768px) {
              height: 300px;
            }

            @media (max-width: 600px) {
              width: calc(50% - 32px);
            }

            @media (max-width: 450px) {
              width: 100%;
            }
          }
        }
      }
      .btn {
        width: fit-content;
      }

      .active {
        display: block;
      }
    }


  }
}