@import "variables";

.contacts-section {
  .first-screen {
    .container {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }

  .second-screen {
    .cards-section {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid #00000020;
      flex-wrap: wrap;

      .card {
        transition: .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $gray;
        border-radius: 5px;
        width: calc(33% - 16px);
        color: $chocolate;
        padding: 20px;

        img {
          width: 40px;
          margin-bottom: 16px;
        }
        h4 {
          transition: .3s;
          font-weight: 600;
          margin-bottom: 16px;
          text-align: center;
        }
        p {
          text-align: center;
        }

        &:hover {
          transform: scale(1.1);
          h4 {
            color: $orange;
          }
        }

        @media (max-width: 678px) {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }

    .social-section {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $chocolate;
        min-height: 150px;
        border-right: 1px solid #00000020;

        .wrapper {
          transition: .3s;

          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            transition: all 0.3s ease;
            margin-right: 16px;
            fill: $chocolate;
          }
          h4 {
            transition: .3s;
            margin: 0;
            text-decoration: underline;
          }
        }

        &:last-child {
          border-right: none;
        }

        &:hover {
          .wrapper {
            transform: scale(1.1);

            svg {
              fill: $orange;
            }
            h4 {
              color: $orange;
            }
          }
        }

        @media (max-width: 525px) {
          margin-bottom: 16px;
          border:  none;
          min-height: fit-content;

          h4 {
            display: none;
          }
        }
      }
    }
  }

  .contact-form-section {
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;

      @media (max-width: 548px) {
        flex-direction: column-reverse;

        .content {
          width: 100%;
        }

        .form-container {
          margin-bottom: 24px;
        }
      }

    }

    .questions-wrapper {
      padding-right: 74px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 768px) {
        padding-right: 20px;
      }

      @media (max-width: 548px) {
        padding-right: 0;
      }

      h4, h3 {
        text-align: left;
      }

      h4 {
        @media (max-width: 548px) {
          margin-bottom: 20px;
        }
      }

      .drop-container {
        width: 100%;

        .drop-item {
          width: 100%;
          //max-height: 300px;
          //height: 100%;

          position: relative;

          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 56px;
            cursor: pointer;

            img {
              transition: .3s;
              width: 15px;
              height: 15px;
              transform: rotate(180deg);
            }

            h4 {
              font-size: 20px;
              margin-bottom: 0;
            }
          }

          p {
            transition: .3s;
            height: 100%;
            background-color: $gray;
            padding: 16px 24px;
            display: none;
            overflow: hidden;
            color: $chocolate;
            margin-bottom: 0;
            font-size: 14px;
          }
        }

        .active-accord {
          .title {
            img {
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    .form-container {
      padding-left: 74px;
      width: 50%;
      align-items: flex-start;

      h3, h4 {
        text-align: left;
      }

      .wpcf7 {
        .contact-form {
          p {
            width: 100%;
          }
        }
      }
      
      @media (max-width: 768px) {
        padding-left: 20px;
      }
      @media (max-width: 548px) {
        padding-left: 0;
      }
    }
  }


}