.feedbacks-page .container {
  height: 100%;
  position: relative;
}
.feedbacks-page .second-screen .slider-wrapper {
  margin-bottom: 56px;
}
@media (min-width: 1152px) {
  .feedbacks-page .second-screen .slider-wrapper .slick-list {
    overflow: inherit;
  }
  .feedbacks-page .second-screen .slider-wrapper .slick-list .slick-slide:not(.slick-active) {
    opacity: 0.5;
  }
}
.feedbacks-page .second-screen .slider-wrapper .slide {
  border-radius: 5px;
  background-color: #E7E7E7;
  padding: 40px;
  margin: 0 16px;
}
.feedbacks-page .second-screen .slider-wrapper .slide .top {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}
.feedbacks-page .second-screen .slider-wrapper .slide .top .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 50%;
  min-width: 80px;
  min-height: 80px;
}
.feedbacks-page .second-screen .slider-wrapper .slide .top h4 {
  font-size: 20px;
  margin-bottom: 4px;
}
.feedbacks-page .second-screen .slider-wrapper .slide .top p {
  opacity: 0.5;
}
.feedbacks-page .second-screen .slider-wrapper .slide .bottom .text {
  overflow-y: auto;
  max-height: 300px;
}
.feedbacks-page .second-screen .slider-wrapper .slide .bottom p {
  margin-bottom: 34px;
}
.feedbacks-page .second-screen .slider-wrapper .slide .bottom span {
  opacity: 0.5;
}
.feedbacks-page .second-screen .slider-btn {
  margin: 0 20px;
}

/*# sourceMappingURL=page-feedbacks.css.map */
