.project-page .third-screen {
  padding-top: 0;
}
.project-page .third-screen .title-wrapper {
  margin-bottom: 56px;
}
.project-page .third-screen .slider-wrapper .wrapper {
  margin-bottom: 56px;
}
.project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
  height: 492px;
  margin: 0 16px;
}
@media (max-width: 920px) {
  .project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
    height: 275px;
  }
}
@media (max-width: 600px) {
  .project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card {
    height: 350px;
  }
}
.project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card a, .project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card::before, .project-page .third-screen .slider-wrapper .slider-gallery-wrapper .product-card::after {
  display: none;
  visibility: hidden;
}
.project-page .third-screen .slider-wrapper .btn-container .btn {
  display: none;
  visibility: hidden;
}
.project-page .third-screen .slider-wrapper .btn-container .slider-btn {
  margin: 0 20px;
}

/*# sourceMappingURL=project.css.map */
