@import "variables";

.project-page {
  .third-screen {
    padding-top: 0;

    .title-wrapper {
      margin-bottom: 56px;
    }

    .slider-wrapper {
      .wrapper {
        margin-bottom: 56px;
      }

      .slider-gallery-wrapper {
        .product-card {
          height: 492px;
          margin: 0 16px;

          @media (max-width: 920px) {
            height: 350px;
          }

          @media (max-width: 768px) {
            height: 275px;
          }

          @media (max-width: 600px) {
            height: 350px;
          }

          a, &::before, &::after {
            display: none;
            visibility: hidden;
          }
        }
      }

      .btn-container {
        .btn {
          display: none;
          visibility: hidden;
        }

        .slider-btn {
          margin: 0 20px;
        }
      }
    }
  }
}