@mixin breadcrumbs {
  .breadcrumbs {
    transform: rotate(270deg);
    font-weight: 600;
    color: $white;
    position: absolute;
    left: 0;
    top: calc(50% - 80px);

    a, span {
      font-size: 16px;
    }
    span {
      cursor: default;
    }

    @media (max-width: 768px) {
      transform: rotate(0deg);
      top: 32px;
      left: 15px;
    }
  }
}
@mixin tabs {
  .text-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-68%, calc(-50% - 80px));
    color: white;

    &::before {
      position: absolute;
      content: '';
      width: 200%;
      height: 200%;
      transform: translate(0%, -23%);
      background-repeat: no-repeat;
      left: 52%;
      background-size: contain;
      background-image: url("../img/element-1.svg");
    }

    h4 {
      margin-bottom: 40px;
    }
  }

  .main-page-head-text {
    @media (max-width: 535px) {
      margin-right: 15px;
      top: 50%;
      left: 15px;
      transform: translate(0, calc(-50% - 80px));
    }

    &::before {
      @media (max-width: 535px) {
        left: 70%;
      }
      @media (max-width: 425px) {
        left: 50%;
      }
    }
  }

  .without-tabs {
    transform: translate(-50%, -50%)
  }

  .inner-page {
    &::before {
      width: 100%;
      height: 400%;
      left: 100%;
      transform: translate(-50px, -36%);
      
      @media (max-width: 768px) {
      }
    }
  }


  .tabs-head-page {
    height: calc(100vh - 100px);
    max-height: 700px;
    background-color: $chocolate;

    .container {
      height: 100%;
      background-size: cover;
      margin-top: 100px;
      position: relative;
      
      @media (max-width: 1300px) {
        padding: 0;
      }
    }

    .image-wrapper {
      position: relative;
      z-index: 0;
      height: 100%;

      .photo-category {
        width: 100%;
        height: 100%;
        display: none;

        .mainscreen-tab {
          height: 100%;

          .slick-list {
            height: 100%;

            .slick-track {
              height: 100%;
            }
          }
        }

        &:first-child {
          display: block;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: -1;
        }

        &::before {
          background-color: rgba(0, 0, 0, 0.45);
          width: 100%;
          height: 100%;
          position: absolute;
          content: '';
          z-index: 1;
        }
      }
    }

    .categories-section {
      height: 80px;
      display: flex;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 15px;
      background: rgba(17, 12, 0, 0.8);
      overflow-x: auto;

      @media (max-width: 1300px) {
        margin: 0;
      }

      .category {
        flex-grow: 1;
        padding: 16px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 0;
        cursor: pointer;
        position: relative;
        transition: .3s;

        .progress {
          transition: 1s;
          position: absolute;
          top: 0;
          height: 2px;
          width: 0;
          background-color: $orange;
          left: 0;
          opacity: 0;
        }

        .active {
          opacity: 1;
        }

        span {
          color: $white;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;;
          text-align: center;
        }
      }
    }
  }
}
@mixin instagram {
  .insagram-section {
    padding: 80px 0;

    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h4 {
        max-width: 768px;
        text-align: center;
        font-size: 25px;
        font-weight: normal;

        a {
          font-size: inherit;
          color: $orange;
          position: relative;

          &::before {
            transition: .3s;
            content: '';
            width: 0;
            height: 3px;
            background-color: $orange;
            position: absolute;
            bottom: -4px;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }

      .instagram-photos {
        display: flex;

        .wrapper {
          height: 175px;
          width: 175px;
          margin-right: 1px;

          &:last-child {
            margin-right: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        @media (max-width: 768px) {
          .wrapper {
            width: calc(25% - 1px);
          }
        }

        @media (max-width: 425px) {
          flex-wrap: wrap;

          .wrapper {
            margin: 0 2px 2px 0;
            width: calc(50% - 2px);

            &:nth-child(2) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

}
@mixin partners {
  .our-partners-section {
    padding: 160px 0;
    background-color: $white;

    .container {

      .slider-wrapper {
        .slick-list {
          overflow: inherit;

          .slick-slide:not(.slick-active) {
            opacity: 0.5;
          }
        }
        .wrapper {
          margin-bottom: 56px;

          .slide {
            height: 250px;
            padding: 65px 72px;
            border-right: 1px solid rgba(0, 0, 0, 0.2);

            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
@mixin contact-form {
  .contact-form-section {
    background-color: $chocolate;
    padding: 80px 0;

    color: $white;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 16px;
        text-align: center;
      }

      h4 {
        text-align: center;
        max-width: 768px;
        margin-bottom: 56px;
      }

    }

    .form-container {
      .wpcf7 {
        width: 100%;


        .contact-form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .wpcf7-response-output {
            display: none;
            visibility: hidden;
          }

          p {
            width: calc(50% - 16px);
            //overflow: hidden;

            &:last-child {
              width: 100%;
            }

            .wpcf7-not-valid-tip {
              bottom: -35px;
              position: absolute;
            }

            .wpcf7-not-valid {
              border-bottom: 1px solid red;

              &::placeholder {
                color: red;
              }
            }


            @media (max-width: 450px) {
              display: flex;
              width: 100%;
              flex-direction: column;
              align-items: center;

              & input[type="submit"] {
                width: 100%;
              }
              .ajax-loader {

              }

            }
          }

          .btn-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            @media (max-width: 450px) {
              input {
                width: 100%;
              };
            }
          }

          .form-input {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            outline: none;
            padding: 0 0 8px 0;
            color: $white;
            font-size: 20px;
            font-weight: 400;
            margin: 12px 0 40px 0;
            transition: .3s;

            &:focus {
              border-bottom: 1px solid rgba(255, 255, 255, 0.7);
              box-shadow: 0 20px 20px 0 rgb(255, 255, 255, 0.04);
            }
          }
        }
      }
    }
  }

}
@mixin random-navigation {
  .random-navigation-section {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      background-color: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 1px;
      z-index: 1;

      @media (max-width: 700px) {
        content: none;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      li {
        margin: 0 0 10px 0;
        padding: 2px 32px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        background-color: $chocolate;
        z-index: 2;
        text-align: center;

        &:last-child {
          border-right: none;

          @media (max-width: 425px) {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }

        &::before {
          content: none;
        }
      }

      @media (max-width: 700px) {
        flex-direction: column;

        li {
          border: none;
          padding-bottom: 12px;
          margin-bottom: 12px;
          position: relative;

          &::before {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            content: '';
            background-color: rgba(255, 255, 255, 0.2);
            height: 1px;
            width: 24px;
            background-image: none;
          }

          &:last-child::before {
            content: none;
          }
        }
      }
    }
  }

}
@mixin project-desc {
  .tab-content-wrapper {
    display: flex;
    margin-bottom: 100px;

    .image {
      margin-right: 40px;
      min-height: 400px;
      max-width: 600px;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      h3 {
        font-size: 25px;
      }

      p {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;

      .image {
        margin-right: 0;
        margin-left: 40px;
      }

      @media (max-width: 620px) {
        flex-direction: column;

        .image {
          margin: 0 0 20px 0;
        }
      }
    }

    @media (max-width: 620px) {
      flex-direction: column;

      .image {
        margin: 0 0 20px 0;
        width: 100%;
        height: 250px;
        max-height: 300px;
        min-height: 200px;
      }
      .desc {
        width: 100%;
      }


    }
  }
}
@mixin modals {
  .contact-modal, .form-modal {
    position: fixed;
    padding: 30px 40px;
    background-color: $gray;
    border-radius: 5px;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //display: flex;
    display: none;
    justify-content: center;
    width: fit-content;

    .cross {
      position: absolute;
      right: 20px;
      top: 20px;

      height: 40px;
      width: 40px;

      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        top: 50%;
        left: 0;
        transform: rotate(45deg);
        background-color: $chocolate;
      }

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        top: 50%;
        left: 0;
        transform: rotate(-45deg);
        background-color: $chocolate;
      }
    }

    .content {
      max-width: 575px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2, h4 {
        color: $chocolate;
        text-align: center;
      }

      h4 {
        margin: 0 0 40px 0;
      }

      .close-modal {
        display: none;
      }

      .wpcf7 {
        form {
          p {
            margin-bottom: 32px;
            display: flex;

            input {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid $chocolate;
              padding: 10px 0;
              outline: none;
            }

            input[type="submit"] {
              background-color: $orange;
              border: none;
              padding: .6em 1em;
            }
          }
        }
      }

      .contacts-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          font-size: 14px;

          &:last-child {
            margin-top: 1em;
          }
        }

        a {
          color: $chocolate;
          font-weight: 600;
        }
      }
    }
  }
}
